.feature {

    background-color: $light-grayish-blue;

    p {
        color:$grayish-blue;
        line-height:1.5;
        max-width:38.3125rem;
        margin:0 auto;
        text-align: center;

        @include breakpoint(laptop) {
            text-align: left;
            margin:0;
        }
    }

    h2, &__title {
        text-align: center;
        margin-bottom: 1.5rem;

        @include breakpoint(laptop) {
            text-align: left;
        }
      
    }

    &__grid {

        margin-top:3.125rem;

        @include breakpoint(mobileonly) {
            flex-direction: column;
        }

        @include breakpoint(tablet) {
            flex-direction:row;
            flex-wrap: wrap;       
         }
    }

    &__item {
        align-items: center;
        padding: 0.9375rem;

        @include breakpoint(tablet) {
            flex:0 0 50%;
            align-items: flex-start;
        }

        @include breakpoint(desktop) {
            align-items:flex-start;
            flex: 1;
        }

        img {
            margin-bottom:1.625rem;
        }

        .feature__description {
            color:$grayish-blue;
            line-height:1.5;
            text-align:left;
            font-size:.875rem;
            
            @include breakpoint(mobileonly) {
                font-size:.875rem;
                margin-bottom:2.5rem;
                text-align: center;
            }
        }
    }
}