.header {

    // hamburger open styles
    &.open {

        .overlay {
            animation: fade-in 0.2s ease-in-out forwards;
        }
        
        .header__hamburger {

            >span:first-child {
            transform: rotate(45deg);
             }
    
            >span:nth-child(2) {
            opacity: 0;
            }
    
            >span:last-child {
            transform: rotate(-45deg);
            }
        }

        .header__menu {
            visibility:visible;
            z-index:1;
        }
    }

    nav {
        position:relative;
        background-color: $white;
        padding-top: 1.0625rem;
        padding-bottom: 1.0625rem;
    }

    &__hamburger {

        cursor:pointer;
        
        span {
            display: block;
            width: 1.5rem;
            height: .125rem;
            background-color: $dark-blue;
            transition: opacity ease-in-out 0.2s,
            transform ease-in-out 0.2s;
            transform-origin: .125rem .0625rem;
            
            &:not(:last-child) {
                margin-bottom: .3125rem;
            }
        }

    }

    &__links {

        padding:0;

        li {

            a {
                color:$grayish-blue;
                transition: color ease-in-out 0.2s;
                &:hover {
                    color:$dark-blue;
                }
            }

            &::after {
                position: relative;
                top: 2rem;
                content: "";
                display: block;
                width: inherit;
                height: .3125rem;
                background: linear-gradient(to right, $lime-green, $grayish-blue);
                opacity: 0%;
                transition: opacity ease-in-out 0.2s;
            }

            &:not(:last-child) {
            margin-right:2rem;
            }


            &:hover {
                &::after {
                opacity:100%;
                }
            }
        }
    }      
             
    &__menu {
        position:fixed;
        visibility: hidden;
        background: $white;
        padding: 2.1875rem;
        top:5.5rem;
        border-radius:.1875rem;
        left:50%;
        transform: translateX(-50%);
        width: calc(100% - 3rem);

        a {
        height:2.25rem;
        color:$dark-blue;
        }
    }
}

.overlay {
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient($dark-blue, transparent);
}

