.hero {

    background-color: $very-light-gray;

    .container {

    @include breakpoint(tablet) {
        display:flex;
        flex-direction: row-reverse;
        align-items:center;
    }
    }

    &__image {
        position:relative;
        background-size:cover;
        background-repeat: no-repeat;
        background-position: center center;
        min-height:17.5rem;

        @include breakpoint(tablet) {
            flex: 3;
            height: 41rem;
        }

        &::before {
            content: '';
            height:100%;
            width:100%;
            position:absolute;
            background-image: url('/images/bg-intro-mobile.svg');
            background-repeat: no-repeat;
            background-size:100%;
            background-position: center center;

            @include breakpoint(tablet) {
                    height: 100%;
                    width: 150%;
                    position: absolute;
                    background-image: url(/images/bg-intro-desktop.svg);
                    background-size: 124%;
                    background-position: 0% 77%;
            }
        }


        &::after { // phones background
            content: '';
            height:100%;
            width:100%;
            position:absolute;
            background-image: url('/images/image-mockups.png');
            background-size:93%;
            background-repeat: no-repeat;
            background-position: center bottom;

            @include breakpoint(tablet) {
                height: 122%;
                width: 131%;
                background-size: 90%;
                left: 18%;
            }
        }
    }

    &__text {
        text-align: center;

        @include breakpoint(tablet) {
            flex:2;
            text-align:left;
        }

        h1 {
            font-weight:$light;
            font-size:1.875rem;
            color:$dark-blue;
            margin-bottom:1.5rem;

            @include breakpoint(tablet) {
                font-size: 3.25rem;
            }
        }

        p {
            line-height: 1.5;
            font-size:.875rem;
            margin-bottom:2.3125rem;
            
            @include breakpoint(tablet) {
                font-size: 1.25rem;
            }
        }
    }
}